@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --pblue-color: #006BB9;
    --pyellow-color: #FF9D00;
    --bhov-color: #093a5d;
    --btext-color: #262626;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background: url("/launchpad/images/background-light.svg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* color: #262626; */
    font-family: 'Montserrat', sans-serif;
}

nav .logo-img {
    width: 130px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
}
nav .login-reg-btn {
    text-decoration: none;
}
nav .login-reg-btn button {
    /* border: none;
    background: transparent;
    color: var(--pblue-color);
    border: 2px solid var(--pblue-color);
    border-radius: 40px;
    padding: 7px 20px; */
    padding: 10px 20px;
    border-radius: 1.25rem;
    background: var(--pblue-color);
    color: #f9f9f9;
    border: 0
}

.hero-text {
    /* font-weight: 700; */
    color: var(--btext-color);
}

.hero-small-text {
    font-size: 18px;
}

.search-bar input {
    width: 100%;
    height: 50px;
    background-color: #ffffff00;
    border: 1px solid var(--pblue-color);
    font-family: inherit;
    font-size: 15px;
    padding: 0 16px;
    border-radius: 1.25rem;
    transition: all 0.375s;
    margin-bottom: 15px;
}

.search-bar > input:hover{
    border: 1px solid var(--pyellow-color);
}

.projects .project-card {
    padding: 15px;
    /* border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.projects a {
    text-decoration: none;
}

.project-card .project-img {
    min-height: 220px;
    max-height: 220px;
    object-fit: cover;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 10px;
}

.project-card .bottom-content img {
    width: 70px;
   
}

.project-card .top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-card .top-content .project-title {
    font-size: 26px;
    font-weight: 700;
    /* color: #333; */
    color: var(--pblue-color);
}
.project-card .top-content .date {
    font-size: 13px;
    font-weight: 400;
    padding-top: 7px;
    color: #333;
}

.project-card .project-overview {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3; 
    min-height: 75px;
    max-height: 75px;
}

.project-card .bottom-content {
    display: flex;
    align-items: center;
}
.project-card .bottom-content .company-logo {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 100px;
    margin-right: 10px;
}

.project-card .bottom-content .company-name {
    padding-top: 18px;
    font-weight: 400;
    color: #333;
}

.project-card .project-overview {
    color: #333;
}